body{
  margin: 0;
  padding: 0;
  background-color: #131316;
}
.box{
  display: flex;
  align-items: center;
  padding: 10%;
}
h2{
  font-size: 150px;
  color: #fff;
  padding: 5%;
  text-align: center;
}